## This notebook will discuss the K Means algorithm in Machine Learning

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [25]:
# Dataset

import kagglehub

# Download latest version
path = kagglehub.dataset_download("abineshkumark/carsdata")

print("Path to dataset files:", path)

Path to dataset files: /home/arifuz/.cache/kagglehub/datasets/abineshkumark/carsdata/versions/1

In [26]:
dataset = pd.read_csv(path + '/cars.csv')
dataset.head()

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year     brand
0  14.0           8          350  165       4209           12   1972       US.
1  31.9           4           89   71       1925           14   1980   Europe.
2  17.0           8          302  140       3449           11   1971       US.
3  15.0           8          400  150       3761           10   1971       US.
4  30.5           4           98   63       2051           17   1978       US.

In [27]:
x = dataset[dataset.columns[:-1]]
x.head()

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year
0  14.0           8          350  165       4209           12   1972
1  31.9           4           89   71       1925           14   1980
2  17.0           8          302  140       3449           11   1971
3  15.0           8          400  150       3761           10   1971
4  30.5           4           98   63       2051           17   1978

In [28]:
# eliminate null value

x = x.apply(lambda col: col.fillna(col.mean()) if col.dtype.kind in 'iufc' else col)
x.head()

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year
0  14.0           8          350  165       4209           12   1972
1  31.9           4           89   71       1925           14   1980
2  17.0           8          302  140       3449           11   1971
3  15.0           8          400  150       3761           10   1971
4  30.5           4           98   63       2051           17   1978

In [29]:
for i in x.columns:
    print(x[i].isnull().sum())

0
0
0
0
0
0
0

In [30]:
# Elbow method to get the kmeans
from sklearn.cluster import KMeans